@charset "UTF-8";
@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria_medium.otf");
}
@font-face {
  font-family: "Geometria-light";
  src: url("/fonts/geometria_light.otf");
}
* {
  font-family: "Geometria";
  padding: 0;
  margin: 0;
  font-family: "Geometria";
  outline: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background: #000816;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 90px;
  color: #CA92FF;
  text-transform: uppercase;
}

h2 {
  color: #CA92FF;
  font-size: 70px;
}

h3 {
  font-size: 50px;
  color: #f0dfff;
}

p {
  color: #E4C7FF;
  font-size: 30px;
}

a {
  color: #CA92FF;
  font-size: 35px;
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  border: 2px solid #ca92ff;
  border-radius: 10px;
  width: 375px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #00050f;
  font-size: 35px;
  padding-left: 15px;
  color: #f0dfff;
  resize: none;
}

header {
  background-color: #00050F;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
}
.nav-menu__list {
  display: flex;
  align-items: center;
}
.nav-menu__list__item {
  margin-right: 40px;
}
.nav-menu__list__item__link {
  font-size: 25px;
}
.nav-menu__list :first-child {
  margin-right: 0px;
}
.nav-menu__list :nth-child(2) {
  margin-left: 156px;
}
.nav-menu__list :nth-child(6) {
  margin-right: 180px;
}
.nav-menu__list :nth-child(7) {
  margin-right: 20px;
}
.nav-menu__list :nth-child(8) {
  margin-right: 0px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: #00050F;
  padding: 10px;
}
.burger-menu__icon {
  font-size: 30px;
  cursor: pointer;
  color: #CA92FF;
}
.burger-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
}
.burger-menu__item {
  margin: 10px 0;
}
.burger-menu a {
  color: #CA92FF;
  text-decoration: none;
  font-size: 20px;
}

.index-sec {
  background: url("../img/bckg.svg");
  width: 1877px;
  height: 890px;
}
.index-sec ::after {
  content: "";
  width: 1879px;
  height: 1748px;
  background-image: url("/img/Новости.svg");
  margin-top: 220px;
}

.index {
  padding-top: 443px;
}
.index__title {
  margin-left: 180px;
}
.index__title__f-phr {
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background: url("/img/Vector9.svg");
}
.index__title__scnd-phr {
  padding-left: 33px;
  padding-right: 34px;
  background: url("/img/Vector10.svg");
  color: #E4C7FF;
  margin-top: 10px;
  margin-left: 171px;
}

.news__title {
  margin-top: 100px;
  margin-bottom: 55px;
}
.news__box {
  display: flex;
}
.news__box__ls {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 620px;
  height: 651px;
  margin-left: 8px;
  margin-right: 8px;
}
.news__box__ls p {
  background: rgba(0, 8, 22, 0.69);
  font-size: 25px;
}
.news__box__ls__title {
  text-align: center;
  margin-top: 464px;
  padding-top: 23px;
  padding-bottom: 38px;
}
.news__box__ls__dscr {
  padding-left: 30px;
  padding-bottom: 42px;
}
.news__box__rs__partofnews {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}
.news__box__rs__partofnews__news {
  width: 264px;
  height: 191px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 39px;
}
.news__box__rs__partofnews__news__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 133px;
  background: rgba(0, 8, 22, 0.69);
  height: 59px;
}
.news__box__rs__btn {
  padding: 17px 22px;
  border: 1px solid #ca92ff;
  border-radius: 10px;
  margin-left: 120px;
}
.news__box__pagination {
  position: absolute;
  margin-top: 680px;
  margin-left: 843px;
}
.news__box__pagination-2 {
  position: absolute;
  margin-top: 680px;
  margin-left: 204px;
}
.news__btns {
  display: flex;
  margin-left: 850px;
}
.news__btns__left-btn {
  font-size: 38px;
  text-align: center;
  padding: 10px 16px;
  border-radius: 13px 0;
  margin-right: 16px;
  background: transparent;
}
.news__btns__right-btn {
  font-size: 38px;
  text-align: center;
  padding: 10px 16px;
  border-radius: 13px 0;
  margin-right: 16px;
  background: transparent;
}

.news__box__rs__partofnews {
  display: none;
}

.news__box__rs__partofnews.active-page {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

.news__box__btn {
  font-size: 38px;
  color: rgba(202, 146, 255, 0.41);
  text-align: center;
  padding: 10px 16px;
  border: 1px solid #ca92ff;
  border-radius: 13px 0;
  margin-right: 16px;
  background: transparent;
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
.news__box__btn:hover, .news__box__btn.active {
  color: #ca92ff;
  box-shadow: 0 0 10px #ca92ff, 0 0 10px #ca92ff, 0 0 10px #ca92ff, 0 0 10px #ca92ff;
}

.footer {
  background: #00050f;
  padding-left: 350px;
  margin-top: 180px;
}
.footer__ts {
  display: flex;
  padding-top: 44px;
  margin-bottom: 20px;
}
.footer__ts__geo {
  font-weight: 300;
  font-size: 25px;
  color: #f0dfff;
  margin-left: 10px;
  margin-right: 500px;
}
.footer__ts__number {
  font-weight: 400;
  font-size: 35px;
  color: #f0dfff;
}
.footer__bs {
  display: flex;
  padding-bottom: 30px;
}
.footer__bs__copy {
  font-weight: 300;
  font-size: 25px;
  color: #f0dfff;
  margin-left: 10px;
  margin-right: 628px;
}

@media screen and (width < 376px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 10px;
  }
  .container {
    max-width: 375px;
  }
  .nav-menu {
    height: 70px;
  }
  .nav-menu__list {
    display: none;
  }
  .index-sec {
    width: 375px;
    height: 600px;
  }
  .index-sec ::after {
    content: none;
  }
  .index {
    padding-top: 280px;
  }
  .index__title {
    margin-left: 0px;
    padding-top: 0px;
  }
  .index__title__scnd-phr {
    background: url("/img/Vector10(1).svg");
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .burger-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  .news {
    width: 309px;
  }
  .news__title {
    margin-top: 30px;
  }
  .news__box {
    flex-direction: column;
  }
  .news__box__ls {
    width: 300px;
    height: 286px;
    margin-bottom: 10px;
  }
  .news__box__ls p {
    font-size: 15px;
  }
  .news__box__ls__title {
    font-size: 15px;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .news__box__ls__dscr {
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
  }
  .news__box__rs__partofnews {
    width: 300px;
    height: 366px;
    margin-bottom: 90px;
  }
  .news__box__rs__partofnews__news {
    width: 140px;
    height: 110px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
  }
  .news__box__rs__partofnews__news__title {
    font-size: 10px;
    margin-top: 80px;
    height: 30px;
  }
  .news__box__rs__btn {
    font-size: 25px;
    padding: 5px 10px;
    margin-left: 12px;
    border-radius: 5px;
  }
  .news__box__pagination {
    position: absolute;
    margin-top: 680px;
    margin-left: 76px;
  }
  .news__box__pagination-2 {
    position: absolute;
    margin-top: 680px;
    margin-left: 76px;
  }
  .franchise-news {
    flex-direction: column-reverse;
  }
  .news__box__rs__partofnews.active-page {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }
  .footer {
    background: #00050f;
    padding-left: 0px;
    margin-top: 0px;
  }
  .footer__ts {
    display: flex;
    padding-top: 44px;
    margin-bottom: 20px;
  }
  .footer__ts__geo {
    font-family: Geometria-light;
    font-weight: 300;
    font-size: 10px;
    color: #f0dfff;
    margin-left: 7px;
    margin-right: 32px;
  }
  .footer__ts__number {
    font-weight: 400;
    font-size: 15px;
    color: #f0dfff;
  }
  .footer__bs {
    display: flex;
    padding-bottom: 30px;
  }
  .footer__bs__copy {
    font-family: Geometria-light;
    font-weight: 300;
    font-size: 10px;
    color: #f0dfff;
    margin-left: 19px;
    margin-right: 100px;
  }
  .footer__bs img {
    width: 28px;
    height: 28px;
  }
}/*# sourceMappingURL=style.css.map */